body {
	margin-top:30px;
}


#time {
	padding-top:1rem;
}

.hidden {
	display: none;
}	

.timex {
	padding-bottom: 2rem;
}

.timex2 {
	padding-bottom: 4rem;
}

.options {
	padding-bottom: 6rem;
}

.logout {
	padding-bottom: 3rem;
}

